apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
namespace: hello-gitops
images:
- name: hello-gitops
  newName: pskorodz/hello-gitops
  newTag: 2b27063b03dffb5eb2f8fa5396bcd156adfdd728
